@(form: Form[models.LoginForm.LoginData])(implicit lang: play.api.i18n.Messages)

@main("Login Page") {
<div class="box">
	<div class="login-box">
		<div class="login-title text-center">
			<h1><small>登录</small></h1>
		</div>
		<div class="login-content">
			<div class="form">
				@helper.form(action = routes.Users.loginSubmit){
					<div class="errormsg" id="error" align="center" style="color:red"></div>
					<div class="form-group">
						<div class="col-xs-12  ">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								@helper.inputText(form("username"), 'class -> "form-control", 'placeholder -> "用户名")
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12  ">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								@helper.inputPassword(form("password"), 'class -> "form-control", 'placeholder -> "密码")
							</div>
						</div>
					</div>
					<div class="form-group form-actions">
						<div class="col-xs-4 col-xs-offset-4 ">
							<button type="submit" id="loginbtn" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-off"></span>登录</button>
							<p class="text-center remove-margin"><small>还没注册?</small> <a href="@routes.Users.showRegistPage" ><small>注册</small></a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
}